{% load staticfiles %}
{% load dajaxice_templatetags %}
<html>
    <head>
        <title><font size="1">News Cloud<font></title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/cloudtheme.css" %}">
        {% dajaxice_js_import %}
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">{% block title %}News Cloud{% endblock %}</a></h1>
                <script type="text/javascript">
                        function calculate(){
                        Dajaxice.newsCloud.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
                        }
                </script>
                <input type="text" value="5" id="a"> x
                <input type="text" value="6" id="b"> =
                <input type="text" value="" id="result">
                <input type="button" value="Multiply!" onclick="calculate();">
                <form action="/second">
                    <input type="text" name="keyword" value="" id="keyword" method="GET">
                    <input type="submit" value="Search">
                </form>
        </div>
        <div class="left-slide">
            
        </div>
        <div class="content container">
            <div class="options">
                <a class="choose" style="float: left;" href="{% url 'get_cloud_today' %}">大雜匯</a>
                <a class="choose" style="float: left;" href="{% url 'get_cloud_politic' %}">Politic</a>
            </div>
            <div class="main">
                <div class="main" style="float: left;" style="width:800px">
                    <p style="float: left;">{{ html_text | safe }}</p>
                </div>
            </div>
        </div>
        <div class="right-slide">
        {% block rightsidebar %}
                <a class="choose" style="float: right;" href="{% url 'get_cloud_today' %}">Today</a>
                <br>
                <a class="choose" style="float: right;" href="{% url 'get_cloud_week' %}">Week</a>
                <br>
                <a class="choose" style="float: right;" href="{% url 'get_cloud_month' %}">Month</a>
        {% endblock%}    
        </div>

    </body>
</html>